<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.edu.model.mapper.BoardMapper">

   <select id="countByBoardId">
   		SELECT COUNT(*)
   		FROM board_like
   		WHERE board_id = #{board_id}
   </select>
   
   <select id="exists">
   		SELECT COUNT(*)
   		FROM board_like
   		WHERE baord_id = #{boardId} 
   		AND
   		user_id = #{userId}
   </select>
   
   <insert id="insert" parameterType="int">
   		INSERT INTO board_like(
   			board_id,
   			user_id
   		)
   		VALUES(
   			#{boardId},
   			#{userId}
   		)
   </insert>
   
   

</mapper>

