<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.edu.model.mapper.CommentMapper">

	<select id="selectByBoardId" parameterType="int" resultType="com.ssafy.edu.model.dto.CommentDto">
		SELECT
			c.comment_id as commentId,
			c.board_id as boardId,
			c.user_id as userId,
			u.writer as writer,
			u.name as name,
			c.content,
			c.writedate,
			c.updatedate
		FROM comment c
		JOIN gueuser u
		ON c.user_id = u.user_id
		WHERE c.board_id = #{boardId}
		ORDER BY c.comment_id ASC
	</select>
	
	<select id="selectOne" parameterType="int" resultType="com.ssafy.edu.model.dto.CommentDto">
		SELECT
			c.comment_id as commentId,
			c.user_id as userId,
			c.board_id as boardId,
			u.writer as writer,
			u.name as name,
			c.content,
			c.writedate,
			c.updatedate
		FROM comment c
		JOIN gueuser u
		ON c.user_id = u.user_id
		WHERE c.comment_id = #{commentId}
	</select>
	
	<insert id="insert" parameterType="com.ssafy.edu.model.dto.CommentDto">
		INSERT INTO comment(
			board_id,
			user_id,
			content
		)
		VALUES(
			#{boardId},
			#{userId},
			#{content}
		)
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM comment
		WHERE comment_id = #{commentId}
	</delete>
	
	<delete id="deleteByBoardId" parameterType="int">
		DELETE FROM comment
		WHERE board_id = #{boardId}
	</delete>
	
	<update id="update" parameterType="com.ssafy.edu.model.dto.CommentDto">
		UPDATE comment
		SET
			content = #{content},
			updatedate = NOW()
		WHERE comment_id = #{commentId}
		AND user_id = #{userId}
	</update>
    

</mapper>

