<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.edu.model.mapper.MemberMapper">

    <select id="login" parameterType="com.ssafy.edu.model.dto.MemberDto"
    	resultType="com.ssafy.edu.model.dto.MemberDto">
    	SELECT
    		user_id as userId,
    		writer,
    		name,
    		password,
    		email,
    		regidate
    	FROM gueuser
    	WHERE password = #{password} and writer = #{writer}
    	
    </select>
    
    <select id="selectByWriter" parameterType="String" resultType="com.ssafy.edu.model.dto.MemberDto">
    	SELECT
    		user_id as userId,
    		writer,
    		name,
    		password,
    		email,
    		regidate
    	FROM gueuser
    	WHERE writer = #{writer}
    </select>
    
    <insert id="joinMember" parameterType="com.ssafy.edu.model.dto.MemberDto">
    	INSERT INTO gueuser(
    		writer,
    		name,
    		password,
    		email
    	)
    	VALUES(
    		#{writer},
    		#{name},
    		#{password},
    		#{email}
    		
    	)
    	
    </insert>
    
    <select id="selectByUserId" resultType="com.ssafy.edu.model.dto.MemberDto">
    	SELECT
    		user_id as userId,
    		writer,
    		name,
    		password,
    		email,
    		regidate
    	FROM gueuser
    	WHERE user_id = #{userId}
    </select>
    
    <update id="updateProfile" parameterType="com.ssafy.edu.model.dto.MemberDto">
    	UPDATE gueuser
    	SET
    		name = #{name},
    		email = #{email}
    	WHERE user_id = #{userId}
    </update>
    
    <select id="selectLikedBoards" resultType="com.ssafy.edu.model.dto.BoardDto">
 		SELECT
 			t.id,
        	t.user_id as userId, 
        	u.writer as writer, 
        	u.name as name,
        	t.title, 
        	t.guecontents, 
        	t.writedate, 
        	t.view_count as viewCount,
        	COUNT(c.comment_id) as commentCount,
        	(
        		SELECT COUNT(*)
        		FROM board_like as bl
        		WHERE bl.board_id = t.id
        	)as likeCount
        	(
        		SELECT COUNT(*)
        		FROM board_bookmark as bb
        		WHERE bb.board_id = t.id
        	)as bookmarkCount
    	FROM board_like as bl 
    	JOIN guestable as t
    		ON bl.board_id = t.id
        JOIN gueuser u
        	ON t.user_id = u.user_id
        WHERE bl.user_id = #{userId}
        ORDER BY bl.likedate DESC
    </select>

	<select id="selectBookmarkedBoards" resultType="com.ssafy.edu.model.dto.BoardDto">
		SELECT
 			t.id,
        	t.user_id as userId, 
        	u.writer as writer, 
        	u.name as name,
        	t.title, 
        	t.guecontents, 
        	t.writedate, 
        	t.view_count as viewCount,
        	(
        		SELECT COUNT(*)
        		FROM comment
        		WHERE c.board_id = t.id
        	)as commentCount,
        	(
        		SELECT COUNT(*)
        		FROM board_like as bl
        		WHERE bl.board_id = t.id
        	)as likeCount
        	(
        		SELECT COUNT(*)
        		FROM board_bookmark as bb
        		WHERE bb.board_id = t.id
        	)as bookmarkCount
    	FROM board_bookmark as bb 
    	JOIN guestable as t
    		ON bb.board_id = t.id
        JOIN gueuser u
        	ON t.user_id = u.user_id
        WHERE bb.user_id = #{userId}
        ORDER BY bl.likedate DESC
	</select>

</mapper>

