<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.edu.model.mapper.BoardMapper">

    <select id="selectAll" resultType="com.ssafy.edu.model.dto.BoardDto">
        SELECT
        	t.id,
        	u.writer, 
        	t.title, 
        	t.guecontents, 
        	t.writedate, 
        	t.view_count as viewCount
        FROM guestable as t
        
        JOIN gueuser u
        ON t.user_id = u.user_id
        
        <where>
        	<if test="keyword != null and keyword != ''">
        		<choose>
        			<when test="type == 'title'">
        				t.title LIKE CONCAT('%', #{keyword}, '%')
        			</when>
        			<when test="type == 'writer'">
        				u.writer LIKE CONCAT('%', #{keyword}, '%')
        			</when>
        			<when test="type == 'content'">
        				t.guecontents LIKE CONCAT('%', #{keyword}, '%')
        			</when>
        			
        			<otherwise>
        				t.title LIKE CONCAT('%', #{keyword}, '%')
        				OR t.guecontents LIKE CONCAT('%', #{keyword}, '%')
        			</otherwise>
        			
        		</choose>
        	
        	</if>
        </where>
        
        <choose>
        	<when test="sort == 'oldest'">
        		ORDER BY t.writedate ASC
        	</when>
        	<when test="sort == 'view'">
        		ORDER BY t.viewCount DESC
        	</when>
        	
        	<otherwise>
        		ORDER BY t.writedate DESC
        	</otherwise>
        </choose>
        
        LIMIT #{size} OFFSET #{offset}
    </select>
    
    
    <insert id="insert" parameterType="com.ssafy.edu.model.dto.BoardDto">
    	INSERT INTO guestable(
    		user_id,
    		title,
    		guecontents
    	)
    	VALUES(
    		#{userId},
    		#{title},
    		#{guecontents}
    	)
    </insert>
    
    <select id="selectOne" parameterType="int" resultType="com.ssafy.edu.model.dto.BoardDto">
    	SELECT
    		t.id,
    		u.writer,
    		t.title,
    		t.guecontents,
    		t.writedate,
    		t.view_count as viewCount
    	FROM guestable as t
    	JOIN gueuser as u
    	ON t.user_id = u.user_id
    	WHERE id = #{id}
    </select>
    
    <update id="update" parameterType="com.ssafy.edu.model.dto.BoardDto">
    	UPDATE guestable
    	SET
    		title = #{title},
    		guecontents = #{guecontents}
    	WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="int">
    	DELETE FROM guestable
    	WHERE id = #{id}
    </delete>
    
    
    <select id="count" resultType="int">
    	SELECT COUNT(*)
    	FROM guestable t
    	JOIN gueuser u
    	u.user_id = t.user_id
    	
    	<where>
    		<if test="keyword != null and keyword != ''">
    			<choose>
    				<when test="type == 'title'">
        				t.title LIKE CONCAT('%', #{keyword}, '%')
        			</when>
        			<when test="type == 'writer'">
        				u.writer LIKE CONCAT('%', #{keyword}, '%')
        			</when>
        			<when test="type == 'content'">
        				t.guecontents LIKE CONCAT('%', #{keyword}, '%')
        			</when>
        			
        			<otherwise>
        				t.title LIKE CONCAT('%', #{keyword}, '%')
        				OR t.guecontents LIKE CONCAT('%', #{keyword}, '%')
        			</otherwise>
    			</choose>
    		</if>
    	</where>
    	
    </select>
    
    <update id="updateViewCount">
    	UPDATE guestable
    	SET
    		view_count = view_count+1
    	WHERE id = #{id}
    </update>
    
    

</mapper>

